
<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4" style="text-align:center">BILL PAYMENT</h1>
</div>
<form>
    <div class="container text-center">
        <table>
            <tr>
                <th style="text-align: center">Mobile no</th>
                <th>:</th>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <th style="text-align:center">Your bill amount is</th>
                <th>:</th>
                <td>Rs.250</td>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <td><a routerLink="/pay"><button class="btn btn-secondary " style="min-width:15%;min-height:25% ">Proceed To Pay</button></a></td>
            </tr>
        </table>
    </div>

</form>