<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4" style="text-align:center">PAYMENT</h1>
</div>
<form>
    <div class="container text-center">
        <table>
            <tr>
                <th style="text-align:center">Select Bank</th>
                <th>:</th>
                <td>
                    <select style="max-width:100%">
                        <option>Axis Bank</option>
                        <option>Kotak Mahindra Bank</option>
                        <option>Indian Bank</option>
                        <option>SBI</option>
                    </select></td>
            </tr>
            <tr>
                <th style="text-align: center">Amount</th>
                <th>:</th>
                <td>Rs.300</td>
                </tr>
            <tr>
                <th></th>
                <th></th>
                <td><button class="btn btn-secondary " style="min-width:15%;min-height:25% " data-toggle="modal" data-target="#myModal">Confirm Payment</button>
                    <div class="modal" id="myModal">
                            <div class="modal-dialog">
                              <div class="modal-content">
                          
                                <!-- Modal Header -->
                            
                                <!-- Modal body -->
                                <div class="modal-body">
                                  <div style="font-size:20pt;padding-bottom:2%">Payment Successful</div>
                                  <br>
                                  <a routerLink=''><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </a>
                                </div>
                          
                                <!-- Modal footer -->
                                
                          
                              </div>
                            </div>
                          </div>
                
                </td>
            </tr>
        </table>
    </div>

</form>