<div class="text-center alert-light" style="padding:2%">
    John<br>
    9876459499<br>
    Plan (Prepaid)<br>
</div>

<div class="container-fluid row text-center align-middle bg-dark text-light my-padding1">
    <div class="col-md-4">
        <button class="btn btn-light" style="cursor:context-menu;">1.2 GB</button>
        <br>Data Usage<br><br><br>
    </div>
    <div class="col-md-4">
        <button class="btn btn-light" style="cursor:context-menu;">40 days</button>
        <br>Validity<br><br><br>
    </div>
    <div class="col-md-4">
        <button class="btn btn-light" style="cursor:context-menu;">Rs. 300</button>
        <br>Remaining Balance<br><br><br>
    </div>
</div>

<div class="jumbotron jumbotron-fluid row text-center align-middle">

    <div class="col-md-1"></div>

    <div class="col-md-5">
        <a routerLink='/recharge'><button class="btn btn-dark">Recharge</button></a>
    </div>
    <div class="col-md-5">
        <a routerLink="/report"><button class="btn btn-dark">Report a Problem</button></a>
    </div>

    <div class="col-md-1"></div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

