<div class="container text-center">
    <div class="jumbotron">
      FAQ's
    </div>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo" style="width: 100%;">Question 1</button>
    <div id="demo" class="collapse">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div><br>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1" style="width: 100%;">Question 2</button>
    <div id="demo1" class="collapse">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div><br>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2" style="width: 100%;">Question 3</button>
    <div id="demo2" class="collapse">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div><br>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3" style="width: 100%;">Question 4</button>
    <div id="demo3" class="collapse">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </div>
  