<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4" style="text-align:center">RECHARGE</h1>
</div>
<form>
  <div class="container text-center">
      <table>
          <tr>
              <th style="text-align: center">Mobile Number</th>
              <th>:</th>
              <td><input type="text" name="name"></td>
          </tr>
          <tr>
                      <th style="text-align:center">Your recharge amount is :</th>
                      <th>:</th>
                      <td>Rs.123</td>
                  </tr>
                  <tr>
                      <th></th>
                      <th></th>
                      <td><a routerLink="/pay"><button class="btn btn-secondary"  style="width: 30%; min-height: 25%">Pay</button></a></td>
                  </tr>
      </table>
  </div>

</form>