<div style="height:80%">
<div class="jumbotron jumbotron-fluid text-center align-content:center" style="background-color: #343a40;">
    <h3 style="color: white;" class="h3">Create new Account</h3>
</div>
<div class="wrapper">
<div id="formContent">
  
  <form>
    <input type="text" name="" placeholder="User name">
    <input type="text" name="" placeholder="Phone no">
    <input type="password" name="" placeholder="Password">
    <input type="password" name="" placeholder="Re-type Password">
    <input type="button" class="like" value="Get OTP">
    <input type="text" name="" placeholder="Enter otp">
    <a routerLink='/login'><input type="submit" name="" value="Register"></a>
  </form>   
</div>
</div>
</div>