<div class="jumbotron jumbotron-fluid">
    <h2 style="text-align: center">Get a new Connection</h2>
</div>
<div class="container">
<div class="row">
    <div class="col-md-12">
        <table class="table table-borderless">
            <tr>
                <th>Name</th>
                <th>:</th>
                <td><input type="text" name=""></td>
                <th>Phone no</th>
                <th>:</th>
                <td><input type="text" name=""></td>
            </tr>
            <tr>
                <th>Address</th>
                <th>:</th>
                <td><textarea style="width: 180px;"></textarea></td>
                <th>Email Id</th>
                <th>:</th>
                <td><input type="text" name=""><td>
            </tr>
            <tr>
                <th>Pincode</th>
                <th>:</th>
                <td><input type="text" name=""></td>
                <th>Appoinment for KYC</th>
                <th>:</th>
                <td><input type="date" name=""><td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>	
                <td></td>	
                 <td style="align-content: center ;padding:20px"><a routerLink="/pay"><button class="btn btn-secondary">Proceed to Pay</button></a></td>	
                </tr>
            </table>
    </div>
</div>