<div class="container">
        <div class="jumbotron text-center">
            <h2>Packs</h2>
        </div>
        <div class="jumbotron text-center" style="background-color: white;">
            <h2>Smart packs</h2>
        </div>
        <div class="container">
            <div class="row" style="background-color:white;">
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-body">
                            <p><strong>Data:</strong>2GB</p>
                            <p><strong>Calls:</strong>Unlimited</p>
                        </div>
                        <div class="panel-footer">
                            <h3>Rs.123</h3>
                            <h4>84 days Validity</h4>
                            <a routerLink='/pay'><button class="btn btn-primary">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-body">
                            <p><strong>Data:</strong>2GB</p>
                            <p><strong>Calls:</strong>Unlimited</p>
                        </div>
                        <div class="panel-footer">
                            <h3>Rs.123</h3>
                            <h4>84 days Validity</h4>
                            <a routerLink='/pay'><button class="btn btn-primary">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-body">
                            <p><strong>Data:</strong>2GB</p>
                            <p><strong>Calls:</strong>Unlimited</p>
                        </div>
                        <div class="panel-footer">
                            <h3>Rs.123</h3>
                            <h4>84 days Validity</h4>
                            <a routerLink='/pay'><button class="btn btn-primary">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron text-center" style="background-color: white;">
            <h2>Data</h2>
        </div>
        <div class="container">
            <div class="row" style="background-color:white;">
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-body">
                            <p><strong>Data:</strong>2GB</p>
                            <p><strong>Calls:</strong>Unlimited</p>
                        </div>
                        <div class="panel-footer">
                            <h3>Rs.123</h3>
                            <h4>84 days Validity</h4>
                            <a routerLink='/pay'><button class="btn btn-primary">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-body">
                            <p><strong>Data:</strong>2GB</p>
                            <p><strong>Calls:</strong>Unlimited</p>
                        </div>
                        <div class="panel-footer">
                            <h3>Rs.123</h3>
                            <h4>84 days Validity</h4>
                            <a routerLink='/pay'><button class="btn btn-primary">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-body">
                            <p><strong>Data:</strong>2GB</p>
                            <p><strong>Calls:</strong>Unlimited</p>
                        </div>
                        <div class="panel-footer">
                            <h3>Rs.123</h3>
                            <h4>84 days Validity</h4>
                            <a routerLink='/pay'><button class="btn btn-primary">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron text-center" style="background-color: white;">
            <h2>Talktime</h2>
        </div>
        <div class="container">
            <div class="row" style="background-color:white;">
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-body">
                            <p><strong>Data:</strong>2GB</p>
                            <p><strong>Calls:</strong>Unlimited</p>
                        </div>
                        <div class="panel-footer">
                            <h3>Rs.123</h3>
                            <h4>84 days Validity</h4>
                            <a routerLink='/pay'><button class="btn btn-primary">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-body">
                            <p><strong>Data:</strong>2GB</p>
                            <p><strong>Calls:</strong>Unlimited</p>
                        </div>
                        <div class="panel-footer">
                            <h3>Rs.123</h3>
                            <h4>84 days Validity</h4>
                            <a routerLink='/pay'><button class="btn btn-primary">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-body">
                            <p><strong>Data:</strong>2GB</p>
                            <p><strong>Calls:</strong>Unlimited</p>
                        </div>
                        <div class="panel-footer">
                            <h3>Rs.123</h3>
                            <h4>84 days Validity</h4>
                            <a routerLink='/pay'><button class="btn btn-primary">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    